header {
  text-align: center;
}
h1 {
  /* text-align: center; */
  background-color: coral;
  border: solid 3px;
  width: fit-content;
  margin-left: 14rem;
}
h2 {
  background-color: chartreuse;
  color: brown;
  border: solid 3px;
  text-align: center;
}
h3 {
  background-color: cadetblue;
  border: solid 3px;
  text-align: center;
  margin-right: 35px;
}
p {
    color: darkmagenta;
}
.drygoods {
  display: inline-block;
  background-color: antiquewhite;
  color: blue;
  border: solid 3px black;
  margin: 3px;
  padding-bottom: 20px;
  width: 200px;
  height: 200px;
}
.canned {
  display: inline-block;
  background-color: antiquewhite;
  color: purple;
  border: solid 3px black;
  margin: 3px;
  padding-bottom: 20px;
  height: 200px;
  width: 200px;
}
.veggies {
  display: inline-block;
  background-color: blanchedalmond;
  color: orange;
  border: solid 3px black;
  margin: 3px;
  padding-bottom: 20px;
  height: 200px;
  width: 200px;
}
.snacks {
  display: inline-block;
  background-color: blanchedalmond;
  color: green;
  border: solid 3px black;
  margin: 3px;
  padding-bottom: 20px;
  height: 200px;
  width: 200px;
}
img {
  height: 220px;
  border: solid 3px black;
  padding: 0px;
  margin-top: 91px;
}
div {
  display: flex;
}
